
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

body {
    min-height: 100vh;
    background-color: rgba(6, 23, 30, 1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region Photo collection */
header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 33, 42, 1);
}

.fotogram_pic {
    width: 1440px;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    
    .icon {
        padding-right: 10px;
    }
}


.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    flex-direction: column;
    gap: 50px;
    width: 1170px;

    h1 {
        font-family: figtree;
        font-weight: 800;
        font-size: 56px;
        color: white;
        text-align: center;
    }

    #image_collection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 20px;
        row-gap: 55px;
        padding-top: 80px;
    }

    .collection_img {
        height: 150px;
        width: 150px;
        border-radius: 16px;
        border: 2px solid rgba(18, 70, 88, 1);
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
    }

    .collection_img:hover {
        border: 4px solid rgba(107, 193, 255, 1);
    }
}

@media screen and (max-width: 768px) {
    #image_collection {
        padding-top: 55px;
        padding-bottom: 50px;
    }
}
/* #endregion */

/* #region Popupwindow */

#overlay {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay_title {
color: white;
font-size: 24px;
font-weight: 700;
font-family: "figtree";
}

#close_button {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#overlay_popup {
    width: 688px;
    height: 675px;
    background-color: rgba(9, 33, 42, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 40px;

    .overlay_header {
        width: 100%;
        display: flex;
        margin-bottom: 60px;
        color: white;
        align-items: center;
        justify-content: space-between;
        padding: 0px 45px;

        img {
            width: 32px;
            height: 32px;
        }
    }
}

#overlay_content_img{
    height: 375px;
    width: 560px;
    object-fit: contain;
}

.overlay_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    gap: 55px;

    img{
        height: 70px;
        width: 70px;
    }
}

.overlay_footer button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.overlay_footer button:hover{
    background-color: rgba(143, 58, 58, 0.5);
}

#counter{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: "figtree";
}



/* #endregion */

/* #region footersection */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 100%;
    background-image: url(./assets/icons/footer-bg.svg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    position: fixed;
}

.icon_text {
    display: flex;
    gap: 10px;
}

.copyright_text img {
    padding-top: 20px;
}
/* #endregion */
