body {
    background-color: rgba(6, 23, 30, 1);
    height: 100dvh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region Mittelteil */
header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(9, 33, 42, 1);
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    flex-direction: column;
    gap: 50px;
    width: 1170px;

    h1 {
        font-family: figtree;
        font-weight: 800;
        font-size: 56px;
        color: white;
        text-align: center;
    }

    #image_collection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 20px;
        row-gap: 55px;
        padding-top: 80px;
    }

    .image_collection {
        height: 150px;
        width: 150px;
        border-radius: 16px;
        border: 2px solid rgba(18, 70, 88, 1);
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
    }

    .image_collection:hover {
        border: 4px solid rgba(107, 193, 255, 1);
    }
}

#overlay_popup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    color: white;

    overlay_content {
        width: 100%;
        height: 100%;
        background-color: rgba(9, 33, 42, 1);
        color: white;
        padding: 24px;
    }

    #overlay[open]::backdrop {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .japan_imgs{
        height: 100%;
        width: 100%;
    }
}
/* #endregion */

/* #region Overlay */
#lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    width: 688px;
    height: 675px;
    border-radius: 40px;
    background-color: rgba(9, 33, 42, 1);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 560px;
    max-height: 375px;
}
/* #endregion */

/* #region bottemsektion */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    width: 100%;
    background-image: url(./assets/icons/footer-bg.svg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    position: fixed;
}

.icon_text {
    display: flex;
    gap: 10px;
}

.copyright_text img {
    padding-top: 20px;
}
/* #endregion */
